.App {
  margin: 0 auto;
  width: 50%;
  margin-top: 4rem;
  border: 1px solid;
  padding: 1rem;
}
.buttons {
  display: flex;
  align-items: center;
  & + & {
    margin-top: 1rem;
    margin-left: 0;
  }
}
